<div class="about">
  <h2>About Me</h2>
    <div id="details">
      <p>
        I am a graduate in Computer Science and Engineering, holding a B.E.
        degree, from S.A. Engineering College. Currently, I am working at
        Clarium and am enthusiastic about learning and passionate about coding.
        I am constantly seeking new challenges and opportunities to expand my
        knowledge and skills, and I believe that such an environment will help
        me reach my full potential. My interest in coding stems from the
        satisfaction of transforming ideas into reality. With proficiency in
        programming languages like C, C++, Java, Python, Kotlin, and Dart, I
        have completed various certifications in the field of ethical hacking,
        Android app development, and software development. These certifications
        have provided me with a strong foundation and expertise in these areas.
      </p>
      <p>
        Additionally, I have gained practical experience by working on several
        projects that have allowed me to apply my skills in real-world
        scenarios. This hands-on experience has further honed my problem-solving
        abilities and provided me with a deeper understanding of software
        development. I am highly motivated and committed to continuous learning
        and improvement. I am eager to take on new challenges and contribute my
        skills and knowledge to projects that push boundaries and deliver
        innovative solutions.
      </p>
      <p>
        I am excited about the possibilities that lie ahead and look forward to
        leveraging my skills and experiences to make a meaningful impact in the
        field of computer science and engineering.
      </p>
    </div>
</div>
