.skills div{
    margin-top: 1rem;
    max-width: 55rem;
}

div:last-child{
    margin-bottom: 1.5rem;
}
#skills{    
    margin: 0 auto 0 auto;
    width: 75%;
}

h2{
    font-size: 24px;
    margin-top: 2rem;
    text-align: center;
    color: #ffbf00;
  }
